@import "./variables.scss";


.bigDashboard{
    width: 100vw;
    height: 100vh;
    background-color: $primaryColor;
  }
  .Dashboard {
      display: flex;
      background-color: $primaryColor;
      height: 100vh;
      max-width: 1300px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 10px;
    }
    .dashLogout{
      @include buttonStyle();
      
      // &::hover{
      //   cursor: pointer;
      // }  
    }
    .dashLogout:hover{
      cursor: pointer;
    }