@import "./variables.scss";
.Post{
    height: 125px;
    width: 500px;
    border-bottom: 1px solid $borderColor;
  }
  .postContent{
    @include postStyle();

    padding: 13px;
    padding-bottom: 38px;
    padding-left: 10px;
    position: relative;
    left: 40px;
    margin-top: -25px;
  
  }
  h3{
    font-size: 13px;
    font: medium;
  }
  p{
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 13px;
    padding-top: 6px;
    position: relative;
    right: 10px;
    height: 20px;
    width: 415px;
  }
  
  .likeButton{
    color: palevioletred !important;
    width: 26px !important;
    margin-left: 10px !important;
    position: relative !important;
    top: 80px !important;
  
  }
  .postButton{
    @include buttonStyle();

    margin-left: 20px !important;
    margin-top: 35px !important;
    position: relative !important;
    left: 45% !important;
    &::hover{
      cursor: pointer;
    }
  }
  
.postEdit{
  @include buttonStyle();
  margin-left: 100px;
}

.editInput{
  @include postStyle();

  height: 100px;
  width: 300px;
  background-color: $primaryColor;
  color: palevioletred;  //to show the text can be edited
  border: none;
}
@media(max-width: 900px){
  .Post{
    height: 90px;
  }
  .postContent{
    padding: 5px;
    padding-bottom: 38px;
    position: relative;
    left: 15px;
    margin-top: -25px;
  }
  .likeButton{
    width: 20px !important;
    top: 60px !important;
    margin-left: -5px !important;
  }
  .postButton{
    margin-top: 10px !important;
  }
  .postEdit{
    margin-left: 80px;
  }
  .editInput{
    height: 80px;
  }
}