@import "./variables.scss";

.Widgets {
    flex: 054;
  }
  
  .widgetContainer {
    height: 600px;
    width: 430px;
    background-color: $primaryColor;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-left: 60px;
    border-radius: 5%;
    box-shadow: 6px 10px 50px 6px $borderColor;
  }
  
  .widgetFeed {
    height: 510px;
    width: 350px;
    background-color: $primaryColor;
    border: 1px solid  $borderColor;
    border-top: 10px solid $borderColor;
  }
  
  .widgetPost {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 350px;
    border-bottom: 1px solid $borderColor;
  }
  
  .widgetUser {
    height: 20px;
    width: 80px;
    font-size: 13px;
    font: medium;
    font-family: sans-serif;
    color: $textColor;
    padding-top: 8px;
    padding-left: 5px;
  }
  
  .copyPost {
    height: 50px;
    width: 300px;
    margin-left: 18px;
    padding-bottom: 5px;
    font-size: 12px;
    color: $textColor;
  }