.Widgets {
  -webkit-box-flex: 054;
      -ms-flex: 054;
          flex: 054;
}

.widgetContainer {
  height: 600px;
  width: 430px;
  background-color: #0F0D1A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
  margin-left: 60px;
  border-radius: 5%;
  -webkit-box-shadow: 6px 10px 50px 6px #221B2B;
          box-shadow: 6px 10px 50px 6px #221B2B;
}

.widgetFeed {
  height: 510px;
  width: 350px;
  background-color: #0F0D1A;
  border: 1px solid #221B2B;
  border-top: 10px solid #221B2B;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.widgetFeed::-webkit-scrollbar {
  display: none;
}

.sidebarOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 10px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Sidebar {
  border-right: 1px solid #221B2B;
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar_bitterIcon {
  color: #9797DC;
  font-size: 60px !important;
  margin-top: 20px !important;
  margin-left: 21px !important;
  margin-right: 20px !important;
}

.sidebar_grieve {
  background-color: #5353B2;
  border: none !important;
  color: #9797DC !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 80px !important;
}

.sideIcons {
  position: relative !important;
  top: 33px !important;
  right: 20px !important;
}

h1 {
  height: 20px;
  width: 130px;
  color: white;
}

.Post {
  height: 125px;
  width: 500px;
  border-bottom: 1px solid #221B2B;
}

.postContent {
  color: white;
  font-family: sans-serif;
  padding: 13px;
  padding-bottom: 38px;
  padding-left: 10px;
  position: relative;
  left: 40px;
  margin-top: -25px;
}

h3 {
  font-size: 13px;
  font: medium;
}

p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  font-size: 13px;
  padding-top: 6px;
  position: relative;
  right: 10px;
  height: 20px;
  width: 415px;
}

.likeButton {
  color: palevioletred !important;
  width: 26px !important;
  margin-left: 10px !important;
  position: relative !important;
  top: 80px !important;
}

.postButton {
  height: 22px;
  width: 80px;
  border-radius: 20px;
  margin-left: 20px !important;
  margin-top: 35px !important;
  position: relative !important;
  left: 45% !important;
}

.postButton::hover {
  cursor: pointer;
  text-decoration: underline;
}

.postButton::hover {
  cursor: pointer;
}

.postEdit {
  height: 22px;
  width: 80px;
  border-radius: 20px;
  margin-left: 1 00px;
}

.postEdit::hover {
  cursor: pointer;
  text-decoration: underline;
}

.editInput {
  color: white;
  font-family: sans-serif;
  height: 100px;
  width: 300px;
  background-color: #0F0D1A;
  color: palevioletred;
  border: none;
}

.grieveBox {
  height: 140px;
  padding-bottom: 5px;
  padding-right: 10px;
  border-bottom: 8px solid #221B2B;
}

.grieveBox > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grieveBox_input {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grieveBox_input > input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 20px;
  font-size: 18px;
  border: none;
  background-color: #0F0D1A;
  color: white;
}

.grieveBox_grieveButton {
  background-color: #5353B2;
  border: none !important;
  color: #9797DC !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 23px !important;
  width: 100px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
}

.Feed {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  border-right: 1px solid #221B2B;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  overflow-y: scroll;
}

.feed_header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #0F0D1A;
  z-index: 1;
  border: 1px solid #221B2B;
  padding: 15px 20px;
}

.feed_header > h2 {
  font-size: 16px;
  font-weight: 700;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Feed::-webkit-scrollbar {
  display: none;
}

.Feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bigDashboard {
  width: 100vw;
  height: 100vh;
  background-color: #0F0D1A;
}

.Dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0F0D1A;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.dashLogout {
  height: 22px;
  width: 80px;
  border-radius: 20px;
}

.dashLogout::hover {
  cursor: pointer;
  text-decoration: underline;
}

.dashLogout::hover {
  cursor: pointer;
}

.bigRegister {
  position: absolute;
  top: 150px;
  left: 600px;
}

.Register {
  height: 550px;
  width: 525px;
  background-color: #0F0D1A;
  border-radius: 15px;
  position: relative;
  top: 60px;
  left: 30%;
}

.bitterIcon {
  color: white;
  font-size: 40px !important;
  margin-top: 15px;
  margin-left: 225px;
}

.topText {
  color: white;
  font-family: sans-serif;
  width: 300px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 20px;
  font-weight: 700;
  font-size: large;
}

.inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}

.inputBox {
  padding: 15px;
  margin-bottom: 18px;
  background-color: #19111E;
  border: none;
  color: white;
  font-size: medium;
  outline: none;
}

.registerButton {
  height: 22px;
  width: 80px;
  border-radius: 20px;
  margin-left: 400px;
  background-color: #312435;
  border: none !important;
  color: #B1B1EE !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  height: 30px !important;
  width: 90px !important;
}

.registerButton::hover {
  cursor: pointer;
  text-decoration: underline;
}

.Auth {
  height: 100vh;
  width: 100%;
  background-color: #19111E;
}

.loginContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 130px;
}

.authBitterIcon {
  color: white;
  font-size: 60px !important;
}

.authTitle {
  color: white;
  font-family: sans-serif;
  width: 150px;
  padding: 10px;
  font-size: 19px;
  font-weight: 700;
}

.authInputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  width: 400px;
  padding: 12px;
}

.authEmail {
  padding: 13px;
  background-color: #221B2B;
  border: none;
  color: white;
  font-size: medium;
  outline: none;
  margin-bottom: 18px;
}

.authPassword {
  padding: 13px;
  background-color: #221B2B;
  border: none;
  color: white;
  font-size: medium;
  outline: none;
}

.authLoginButton {
  height: 22px;
  width: 80px;
  border-radius: 20px;
  width: 400px;
  height: 42px;
  font-size: medium;
  outline: mediumpurple;
}

.authLoginButton::hover {
  cursor: pointer;
  text-decoration: underline;
}

.authLoginButton:hover {
  cursor: pointer;
  -webkit-text-decoration: mediumslateblue;
          text-decoration: mediumslateblue;
}

.App {
  height: 100vh;
  width: 100%;
  background-color: #0F0D1A;
}

.Widget {
  height: 80px;
  width: 350px;
  border-bottom: 1px solid #221B2B;
  background-color: #0F0D1A;
}

.likeUser {
  color: white;
  font-family: sans-serif;
  height: 20px;
  width: 80px;
  font-size: 10px;
  font: medium;
  padding-top: 8px;
  padding-left: 5px;
  color: pink;
}

.likedPost {
  color: white;
  font-family: sans-serif;
  height: 50px;
  width: 300px;
  margin-left: 18px;
  padding-bottom: 8px;
  font-size: 12px;
  color: pink;
}
/*# sourceMappingURL=styles.css.map */