.bigDashboard{
  width: 100vw;
  height: 100vh;
  background-color: #0F0D1A;
}
.Dashboard {
    display: flex;
    background-color: #0F0D1A;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
  }
  .dashLogout{
    height: 30px;
    position: absolute;
    left: 180px;
    bottom: 50px;
  }
  