.grieveBox{
    height: 140px;
    padding-bottom: 5px;
    padding-right: 10px;
    border-bottom: 8px solid #221B2B;
}

.grieveBox > form {
    display: flex;
    flex-direction: column;
}

.grieveBox_input{
    padding: 20px;
    display: flex;
}

.grieveBox_input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 18px;
    border: none;
    background-color: #0F0D1A;
    color: white;
}

.grieveBox_grieveButton{
    background-color: #5353B2;
    border: none !important;
    color:#B1B1EE !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 20px !important;
    width: 100px !important;
    margin-top: 20px !important;
    margin-left: auto !important;
}