.Sidebar {
    border-right: 1px solid #221B2B;
    flex: 0.3;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.sidebar_bitterIcon {
    color: #9797DC;
    font-size: 60px !important;
    margin-top: 20px;
    margin-left: 20px;
    margin-right:20px;
}

.sidebar_grieve{
    background-color: #5353B2;
    border: none !important;
    color:#B1B1EE !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
}