.App {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  background-color: rgb(21,32,43);
}

/* body {
  --bitter-color: lightblue;
  --bitter-background: white;
} */
